/* A very simple CSS file for styling my simple website. */
   
@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono);

html {
	padding: 25px;
  	margin: auto;
}

body {
	background-image: linear-gradient( rgba(39, 42, 52, 0.75), rgba(39, 42, 52, 0.75) ), url(img/bg.jpg);
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	color: #ffffff;
  	font-family: JetBrains Mono;
  	font-size: 15px;
  	text-align: left;
	justify-content: center;
}

pre {
  	font-size: calc(17px + .5vw);
  	align-items: center;
  	justify-content: center;
  	text-align: center;
  	color: yellow;
}

/* Link */
a {
	color: yellow;
  	text-decoration: none;
}

/* mouse over link */
a:hover { 
	color: red; 
	text-decoration: underline;
}

/* IDs */
#license { cursor: help; }

/* Classes */
.amogus {
  	background-image: linear-gradient( rgba(39, 42, 52, 0.75), rgba(39, 42, 52, 0.75) ), url(https://i.imgflip.com/5364y4.jpg);
}

.center {
	text-align: center; 
	justify-content: center;
	align-items: center;
}

.post_title {
	text-align: center;
	font-size: 40px;
	color: yellow;
}

.bigphoto {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	max-width: 200px;
  	height: auto;
}

.logo {
	display: inline;
	max-width: 24px;
	height: auto;
}

.sign {
  	font-size: 12px;
  	text-align: center;
}

